
<div class="banner">
  <div class="content-1">
<img class="image" src="../../../assets/multor-logo.svg"  alt="Logo">
<br>
<br>
        <h1>
             Describe the <br>value of booking<br> an appointment</h1>
       <h6>No need to get clever. Tell people exactly what <br> you're offering, then use this space to <br> communicate your key value proposition.</h6>

      </div>

    </div>

<!-- -----------------second part-------------------------------- -->
<section class="step-2">

  <form action="">
    <h3 style="color: white;">Schedule an Appointment</h3>
    <p style="color: white;">
      Here, let visitors know what will happen when they complete your form.
    </p>
    <input type="text" placeholder="First Name*" >
    <input type="text" placeholder="Last Name*">
    <input type="email" placeholder="Email*">
    <input type="number" placeholder="Phone Number">
    <select   >
      <option value="1">Type Of Appointment</option>
      <option value="2"> Type-2</option>
      <option value="3">Type-3</option>
      <option value="4">Type-4</option>
    </select>
    <button class="btn btn-primary" type="button" (click)="registration()"> SCHEDULE NOW</button>
  </form>

<div class="benifit-parent">

      <div class="step-benifit ps-3 ">

        <div class="content-2 d-flex gap-2">
          <div>
              <img class="benifits" src='../../../assets/benefit1-icon.svg' alt="Photo">
           </div>
           <div ><b>Benifit-1</b> <p> Highlight the benefits of signing up for an appointment, online class, or video consultation.</p> </div>


         </div>
         <br>
        <div class="content-2 d-flex gap-2">
          <div>
              <img class="benifits" src='../../../assets/benefit2-icon.svg' alt="Photo">
           </div>
           <div ><b>Benifit-2</b> <p>   or example, fitness instructors might describe how their routines make people healthier *and* happier.</p> </div>

         </div>
         <br>
        <div class="content-2 d-flex gap-2">
          <div>
              <img class="benifits" src='../../../assets/benefit3-icon.svg' alt="Photo">
           </div>
           <div ><b>Benifit-3</b> <p>  Remind visitors how easy it is to claim your offer and start enjoying the benefits.</p></div>

         </div>



      </div>
</div>

  </section>

    <!-- third step  -->
<div class="step step-3">
 <div>
        <h1>Show visitors what they're signing up for</h1>
        <p>Include a video or photo from one of your sessions to help people understand your service (or just to hype ‘em up).</p>
</div>
<div id="myVid">
  <video src="../../../assets/sample-video.mp4" type="video/mp4" autoplay loop (click)="playVideo()" id="play"  > </video>

  <p class=" text-center"> <span id="span2">DON'T JUST TAKE OUR WORD FOR IT</span> </p>
</div>

</div>




<!-- fourth step -->

  <div class="container-4 step-4">



<!--  testmonial -->
<div class="testmonial">
   <!-- persom-1  -->
  <div class="text-center person-container">
    <img src="../../../assets/star1.svg" alt="Star">

    <p>Share a real testimonial that hits some of your benefits (but isn't too sales-y).</p>

    <div class="person">
      <img src="../../../assets/star1_per.jpg" alt="photo">
      <div> <h2>Ainny</h2> <p>Lucknow</p></div>
    </div>
  </div>
  <!-- person-2 -->
  <div class="text-center person-container">
    <img src="../../../assets/star2.svg" alt="Star">

    <p>Include someone talking about how easy it was to sign up and participate.</p>

    <div class="person">
      <img src="../../../assets/star1_per.jpg" alt="photo">
      <div> <h2>Aimmy</h2> <p>Lucknow</p></div>
    </div>
  </div>

</div>

<br>
<br>


  <!-- cart -->
<div class="features-place">
  <div>
    <img class="card-photo" src="../../../assets/cart_1.jpg" alt="">
    <h4 class="card_header">Feature 1</h4>
    <p class="card_desc">Talk about some of the details of your offer with a focus on the value people get back.</p>
</div>
  <div>
    <img class="card-photo" src="../../../assets/cart_2.jpg" alt="">
    <h4 class="card_header">Feature 2</h4>
    <p class="card_desc">Is there a pain point that your service resolves? Tell visitors about it here.</p>
</div>
  <div>
    <img class="card-photo" src="../../../assets/cart_3.jpg" alt="">
    <h4 class="card_header">Feature 3</h4>
    <p class="card_desc">Alternatively, you could use this section to address some frequently asked questions.</p>
</div>
</div>


  <div class="last">
    <img src="../../../assets/last_pic.jpg" alt="Photo" style="width: 93%;">
    <div>
      <h6 id="span2">ABOUT</h6>
      <h1>Some more information about your business</h1>
      <p>Share a little about yourself as a business owner, or maybe describe what makes your service unique. Give visitors one more reason to care about your offer and want to work with you.</p>
    </div>
  </div>

  </div>
<!-- </div> -->

    <!-- mian container end/ -->
<!-- </div> -->
